body {
  font-family: 'Roboto';
  background-color: #fff;
}

/*------ PAGE HEADER -----*/
.page-header {
  margin-top: 0;
  background-color: #009688;
  text-align: center;
}

.page-header h1 {
  margin: 0;
  font-size: 42px;
  line-height: 76px;
  color: #fff;

}

/*------- PANEL -------*/
.panel-title a{
  cursor: pointer;
}

.panel-title a:hover {
  text-decoration: none;
  color: #333;
}

.panel-heading {
  background-color: #fff !important;
}

.RecipeList ul {
  padding-left: 0;
}

.RecipeList li {
  list-style: none;
}


/*---- BUTTONS ------*/
.btn-primary {
  background-color: #009688 !important;
}

.add-recipe-button {
  height: 50px !important;
  width: 50px !important;
}

.add-recipe-button i {
  font-size: 20px !important;
}


